/* sidebar */

.sideBar {
	@apply w-[906px] justify-center h-[60px] rounded-[15px] bg-block-black shadow-block m-auto flex flex-row px-[15px] max-tOne:px-[10px] text-grey-80 font-inter-regular text-base
}

.sideBarZen {
	@apply w-[335px] justify-center h-[60px] rounded-[15px] bg-block-black shadow-block m-auto flex flex-row px-[15px] max-tOne:px-[10px] text-grey-80 font-inter-regular text-base
}

.sideBarDictation {
	@apply w-[1097px] justify-center h-[60px] rounded-[15px] m-auto flex flex-row text-grey-80 font-inter-regular text-base
}

/* containers  */

.containerPunctNumber {
	@apply w-[288px] flex flex-row duration-[700ms] bg-block-black rounded-[15px]
}

.containerNumber {
	@apply flex flex-row duration-[700ms] bg-block-black rounded-[15px]
}

.containerMode {
	z-index: 1;
	@apply flex flex-row bg-block-black rounded-[15px] relative duration-[600ms]
}

.containerPunctNumberZen {
	@apply flex flex-row translate-x-[100%] invisible opacity-0 duration-500
}

.containerNumberZen {
	@apply flex flex-row translate-x-[-100%] invisible opacity-0 duration-500
}

.containerPunctNumberDictation {
	@apply w-[171px] flex flex-row justify-center bg-block-black rounded-[15px] px-[15px] max-tOne:px-[10px] max-tTwo:px-[7.5px] shadow-block translate-x-[-120%]
}

.containerModeDictation {
	@apply flex flex-row bg-block-black rounded-[15px] px-[15px] max-tOne:px-[10px] max-tTwo:px-[7.5px] shadow-block translate-x-[-52%]
}

.containerNumberDictation {
	@apply flex flex-row bg-block-black rounded-[15px] px-[15px] max-tOne:px-[10px] max-tTwo:px-[7.5px] shadow-block translate-x-[110%]
}

.containerPunctNumberDictationZen {
	animation: animateShow .6s;
	@apply w-[171px] flex flex-row justify-center bg-block-black rounded-[15px] px-[15px] max-tOne:px-[10px] max-tTwo:px-[7.5px] shadow-block translate-x-[-120%]
}

.containerModeDictationZen {
	@apply flex flex-row bg-block-black rounded-[15px] px-[15px] max-tOne:px-[10px] max-tTwo:px-[7.5px] shadow-block duration-[400ms] translate-x-[-52%]
}

.containerNumberDictationZen {
	animation: animateShow .6s;
	@apply flex flex-row bg-block-black rounded-[15px] px-[15px] max-tOne:px-[10px] max-tTwo:px-[7.5px] shadow-block translate-x-[110%]
}

/* media */

@media (max-width: 1265px) {
	.sideBar {
		max-width: 739px;
	}
	.sideBarZen {
		max-width: 275px;
	}

	.containerPunctNumber {
		max-width: 243px;
	}
	.containerPunctNumberZen {
		max-width: 200px;
	}
	.containerPunctNumberZenNoAnimate {
		max-width: 200px;
	}

	/* dictation */
	.containerPunctNumberDictation {
		max-width: 151px;
		transform: translateX(-165%);
	}
	.containerPunctNumberDictationZen {
		max-width: 151px;
		transform: translateX(-165%);
	}

	.containerModeDictation {
		transform: translateX(-83%);
	}
	.containerModeDictationZen {
		transform: translateX(-83%);
	}

	.containerNumberDictation {
		transform: translateX(66%);
	}
	.containerNumberDictationZen {
		transform: translateX(66%);
	}
}

@media (max-width: 970px) {
	.sideBar {
		max-width: 617px;
		max-height: 50px;
		font-size: 14px;
	}
	.sideBarZen {
		max-width: 228px;
		max-height: 50px;
		font-size: 14px;
	}
	.sideBarDictation {
		max-width: 715px;
		max-height: 50px;
		font-size: 14px;
	}
	.containerPunctNumberZen {
		max-width: 170px;
	}
	.containerPunctNumberZenNoAnimate {
		max-width: 170px;
	}

	/* dictation */
	.containerPunctNumberDictation {
		max-width: 127px;
		transform: translateX(-105%);
	}
	.containerPunctNumberDictationZen {
		max-width: 127px;
		transform: translateX(-105%);
	}

	.containerModeDictation {
		transform: translateX(-52%);
	}
	.containerModeDictationZen {
		transform: translateX(-52%);
	}

	.containerNumberDictation {
		transform: translateX(143%);
	}
	.containerNumberDictationZen {
		transform: translateX(143%);
	}
}

/* No Animations  */

.containerModeNoAnimate {
	z-index: 1;
	@apply flex flex-row bg-block-black rounded-[15px] relative
}

.containerPunctNumberZenNoAnimate {
	@apply flex flex-row translate-x-[100%] invisible opacity-0
}

.containerNumberZenNoAnimate {
	@apply flex flex-row translate-x-[-100%] invisible opacity-0
}



/* settings */

.numberDictation {
	@apply w-0 h-[60px] flex-center-center gap-1.5 self-center hover:text-white cursor-pointer duration-300 opacity-0 invisible
}

.tenDictation {
	@apply w-[37px] duration-500;
}

.allNumberDictation {
	@apply w-[40px] duration-500;
}

.ten {
	@apply w-[37px];
}

.allNumber {
	@apply w-[40px];
}

/* audio player */

.audioPlayer {
	@apply opacity-0 duration-500
}

.audioPlayerDictation {
	animation: animateShow .5s;
	@apply opacity-100 z-10
}

.audioPlayerDictationZen {
	animation: animateShow .6s;
}

@keyframes animateShow {
	0% {
		opacity: 0;
	} 40% {
		opacity: 0;
	} 100% {
		opacity: 1;
	}
}