@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Inter-regular';
    src: url('/src/assets/fonts/Inter-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Inter-medium';
    src: url('/src/assets/fonts/Inter-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Inter-bold';
    src: url('/src/assets/fonts/Inter-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Kadwa-bold';
    src: url('/src/assets/fonts/Kadwa-Bold.woff') format('woff');
}

@font-face {
    font-family: 'JetBrainsMono-Regular';
    src: url('/src/assets/fonts/JetBrainsMono-Regular.woff') format('woff');
}

@font-face {
  font-family: 'JetBrainsMono-Medium';
  src: url('/src/assets/fonts/JetBrainsMono-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

::selection {
    background-color: #FFD600;
    color: #121212;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

html {
    scrollbar-width: thin;
    scrollbar-color: #676767 #161616;
}

body {
    background: #161616;
    overflow-x: hidden;
}

.audio-line::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #FFFFFF;
    width: 15px;
    height: 15px;
    border-radius: 10px;
}

.sideBar {
    padding-top: 105px;
}

.result {
    padding-top: 217px;
}

.buttonNextTest {
    margin-top: 70px
}

.buttonLanguage {
    opacity: 100%;
}

.hotkeysResult {
    margin-top: 160px;
}

@media (max-height: 600px) {
    .sideBar {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

@media (max-width: 600px) and (max-height: 770px) {
    .buttonLanguage {
        opacity: 0%;
    }
}

@media (max-height: 740px) {
    .result {
        padding-top: 100px;
    }
    .buttonNextTest {
        margin-top: 40px
    }
}

@media (max-height: 900px) {
    .hotkeysResult {
        margin-top: 60px;
    }
}


@media (max-width: 970px) {
    .audio-line::-webkit-slider-thumb {
        width: 12px;
        height: 12px;
    }
}

@media (max-width: 760px) {
    .audio-line::-webkit-slider-thumb {
        width: 15px;
        height: 15px;
    }
}

@media (max-width: 1340px) {
    #chart-container {
      width: 800px;
    }
  }

.caretkaTransition {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 100ms;
}

.opacityElement {
    opacity: 0;
}

.hideTest {
    opacity: 0;
}

.showTest {
    opacity: 1;
    transition: .3s;
}

.key {
    width: 36px;
    height: 36px;
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

    display: flex;
    justify-content: center;
    align-items: center;
    color: #8F8F8F;
    background-color: #1C1C1C;
}

@media (max-width: 760px) {
    .key {
        width: 20px;
        height: 20px;
        border-radius: 5px;
    }
}

.pop-up {
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 1;
    transition: all 0.07s;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
}

.pop-up-active {
    opacity: 1;
    z-index: 10;
    transition: all 0.07s;
}

.lang-scroll {
    scrollbar-width: thin;
    scrollbar-color: #676767 #161616;
}

.keybord-animate {
    animation-name: keyAnimate;
    animation-duration: .2s;
}

.keybord-error {
    animation-name: keyError;
    animation-duration: .2s;
}

.caretka-blink {
    animation: AnimateOpacity 1s;
    animation-iteration-count: infinite;
}

.text-opacity {
    animation: AnimateOpacity .3s;
}

.cursor-delete {  
    cursor: none;
}

.timerActive {
	animation: animateTimer .4s;
	@apply opacity-100;
}

@keyframes keyAnimate {
    0%{
        background: #1C1C1C;
    }
    50%{
        background: #FFD600;
        transform: translateY(15%);
        color: #1C1C1C;
    }
    100%{
        background: #1C1C1C;
        color: #8F8F8F;
    }
}

@keyframes keyError {
    0%{
        background: #1C1C1C;
    }
    50%{
        background: #CA4754;
        transform: translateY(15%);
        color: #1C1C1C;
    }
    100%{
        background: #1C1C1C;
        color: #8F8F8F;
    }
}

@keyframes AnimateOpacity {
    0%{
        opacity: 100%;
    }
    50%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}

@keyframes animateTimer {
	0% {
		opacity: 0;
	} 40% {
		opacity: 0;
	} 100% {
		opacity: 1;
	}
}